pomysly/
Pliki_danych/*.csv
*.csv
*.csv
*.depend
*.o
*.csv
Pliki_danych/przychodnia.csv
Pliki_danych/ubezpieczenie.csv
Pliki_danych/pacjent.csv
Pliki_danych/generator/obj/Debug/main.o
Pliki_danych/generator/generator.depend
Pliki_danych/gabinet.csv
Pliki_danych/dentysta.csv
